/* STUDENT'S CODE */
.row {
    width: 100%;
    height: 100%;
	display: grid;
	grid-template-columns: $column-icon repeat(3, 1fr) $column-icon;
    align-items: center;
    justify-content: center;
	border: 3px solid blue;
	color: blue;
	font-weight: 800;
    fill: blue;
    border-radius: 10px;
}

.card-deck {
	display: flex;
	margin: 2em;
}

.card-img {
	margin-left: 1em;
}

.item-a {
    grid-area: 1 / 1 / 2 / 2;
    align-self: flex-start;
}

.item-b {
    grid-area: 4 / 5 / 5 / 6;
    align-self: flex-end;
}

.item-1 {
    grid-area: 1 / 2 / 2 / 3;
}

.item-2 {
    grid-area: 1 / 4 / 2 / 5;
}

.item-3 {
    grid-area: 2 / 3 / 3 / 4;
}

.item-4 {
    grid-area: 3 / 2 / 4 / 3;
}

.item-5 {
    grid-area: 3 / 4 / 4 / 5;
}

.item-6 {
    grid-area: 4 / 2 / 5 / 3;
}

.item-7 {
    grid-area: 4 / 4 / 5 / 5;
}

@for $index from 1 to 8 {
    .item-#{$index} {
        justify-self: center;
        align-self: center;
    }
}
// grid-area: <name> | <row-start> / <column-start> / <row-end> / <column-end>;

// /* MIXINS */
// // For column classes
// @mixin col($span-num) {
//     flex: 0 0 $one-column * $span-num;
// }