/* BRAND */
$brand-color-1: #006eb6;
$brand-color-2: #000000;
$brand-color-3: #ffffff;

/* TEACHER S */
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6;
$byui-blue: #056cb6;

/* ACCENT */
$accent-color-1: #80c140;
$accent-color-2: #a5216f;
$accent-color-3: #e42226;
$accent-color-4: #f7941d;
$accent-color-5: #ffe066;
$accent-color-6: #adadad;

/* SHADES */
$shade-color-1a: #6b9d41;
$shade-color-1b: #b4d88a;
$shade-color-1c: #cae3ae;

$shade-color-2a: #63174e;
$shade-color-2b: #ba4f8c;
$shade-color-2c: #c879a9;

$shade-color-3a: #ac1f23;
$shade-color-3b: #e95056;
$shade-color-3c: #eb7a7e;

$shade-color-4a: #cb6028;
$shade-color-4b: #f59b42;
$shade-color-4c: #f6b46c;

$shade-color-5a: #ffcd03;
$shade-color-5b: #fce68c;
$shade-color-5c: #fbeca6;

$shade-color-6a: #525252;
$shade-color-6b: #d2d2d2;
$shade-color-6c: #ebebeb;

$shade-color-7a: #194793;
$shade-color-7b: #3390ca;
$shade-color-7c: #8dd3ee;
