/* 	HADER */
.site-banner {
    display: grid;
    grid-template-columns: 2em 1fr 5em;
    grid-template-rows: 1fr;
    font-size: 2.5em;
    background-color: $link-blue;

    .site-banner__left {
        grid-area: 2 / 1 / 3 / 2;
        background-color: $brand-color-2;
        font-size: 0.8em;
        padding: 0.1em 0.3em;

        h1 {
            display: none;
        }
    }

    .site-banner__right {
        grid-area: 2 / 2 / 3 / 4;
        justify-self: right;
        background-color: $link-blue;
        font-size: 0.8em;
        padding: 0.1em 0.3em;
    }

    form {
        display: none;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

/* MAIN */
main {
    padding: 0 0.6em;
}

.title-hidden {
    display: none;
}

.site-title {
    padding: 0.5em;
    margin: 0 -0.6em 2.5em -0.6em;
    border-bottom: 1px solid $dark-gray;
    text-align: center;
    background-color: $light-gray;

    h1 {
        font-family: 'BYUI Open Sans Light', sans-serif;
        font-weight: 100;
        font-size: 1.3em;
    }
}

.announcement-text {
    margin: 1.5em 0;
    padding: 0.8em;
    text-align: center;
    background-color: $body-font;
    color: $light-gray;

    h2 {
        font-family: 'BYUI Open Sans Light', sans-serif;
        font-weight: 100;
        font-size: 1.6em;
        line-height: 1.2em;
    }
}

.button-blue {
    border-style: none;
    width: 12em;
    height: 2.5em;
    border-radius: 0.2em;
    background-color: $byui-blue;
    color: $light-gray;
    font-weight: 700;
}

.button-newsroom {
    width: 8.1em;
    height: 2.1em;
    float: right;
}

.announcement-picture {
    padding: 1em 0 2.5em 0;
}

/* Card Gallery */
.card-container {
    display: flex;
    flex-direction: column;

    .card-item {
        display: block;
        margin: 0 0 2.5em 0;
        border: 1px solid $med-gray;
    }
}

.content {
    display: inline-block;
    margin: 0.4em 0 0.4em 0.5em;
    font-family: 'BYUI Open Sans Light', sans-serif;
    font-weight: 600;
    color: $link-blue;
}

.icon-floating-right {
    float: right;
    margin: 1.6em 2.5em 0.4em 0;
    color: $link-blue;
    font-size: 0.5em;
}

.get-info {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid $dark-gray;
    color: $body-font;
    width: 100%;
    background-color: $light-gray;

    .info-content {
        font-weight: 700;
    }

    .icon-triangle-down {
        float: right;
        margin: 0.3em;
        font-weight: 100;
    }
}

.resources-container {
    margin: 2em 0;
    border: 1px solid $med-gray;
}

.resources-title {
    display: block;
    color: $light-gray;
    font-weight: 400;
    padding: 0.2em 0 0.3em 0.8em;
    margin: 0;
    background-color: $dark-gray;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding-left: 0.8em;
    margin: 0;
    list-style: none;
    border-top: 1px solid $med-gray;
}

li:hover {
    background-color: $light-gray;
}

.dates-title {
    background-color: $byui-blue;
}

.row {
    color: $body-font;
    display: grid;
    grid-template-columns: 3fr 1fr 9fr;
    padding: 0.5em 0 0.5em 0.6em;
    font-size: 0.8em;

    .date-center {
        text-align: center;
    }

    .date-bold {
        font-weight: 700;
    }
}

.dates-link {
    border-bottom: solid 1px $med-gray;
}

.article-container {
    margin: 2em 0;
}

.article-item {
    padding: 1em 0.5em;
    border-top: 1px solid $med-gray;

    .article-date {
        font-weight: 700;
        font-size: 0.7em;
        text-transform: uppercase;
    }

    .article-title {
        margin-top: 0.6em;
        font-size: 1em;
        font-weight: 600;

        a {
            color: $link-blue;
        }
    }

    .article-content {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        font-weight: lighter;
    }
}

/* BOTTOM CARD CONTAINER */
.bottom-card-item {
    margin: 5em 0;
    border: 1px solid $med-gray;
    border-radius: 0.5em;

    picture {
        img {
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
        }
	}
}

.bottom-card-content {
	margin: 1.5em;
	h3 {
		color: $byui-blue
	}
	.button-blue {;
		width: 9em;
	}

}