@import 'typography';
@import 'bootstrap-reboot';
@import 'colors';
@import 'icons';
@import 'small';
@import 'large';


@import 'test'; // DELETE BEFORE TURNING IN

$sm-break: 48em;


// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
